<section class="header">
  <nav class="navigation-header">
    <a class="logo" href="./index.html"> VEGIESTYLE </a>
    <ul class="header-list">
      <li class="header-list-item">
        <a href="">Link</a><img src="/img/logo.svg" alt="pisture logo" />
      </li>
      <li class="header-list-item">
        <a href="">Link</a><img src="/img/logo.svg" alt="pisture logo" />
      </li>
      <li class="header-list-item">
        <a href="">Link</a><img src="/img/logo.svg" alt="pisture logo" />
      </li>
    </ul>
  </nav>
</section>
